.contact > section {
  margin-bottom: 8rem;
}

.details {
  padding: 0 var(--container);
}

.map > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  padding: 0 var(--container);
}

.form > form input,
.form > form textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem 1rem;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid var(--grey-700);
  font-weight: 500;
  font-size: var(--text-base);
}

.form > form textarea {
  height: 8rem;
  resize: none;
}

.form > form button {
  margin-left: auto;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .map {
    padding: 0 var(--container);
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }

  .details > :first-child {
    max-width: 25rem;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2rem;
  }

  .form > :first-child {
    max-width: 20rem;
  }
}
