.banner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5rem var(--container);
  background-color: rgba(0, 0, 0, 0.5);
}

.bgImage {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bgImage img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner h1 {
  max-width: 25rem;
}

.banner p {
  max-width: 35rem;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .banner {
    margin: 0 var(--container);
  }
}
