.contact > section {
  margin-bottom: 8rem;
}

.details {
  padding: 0 var(--container);
}

.team {
  padding: 0 var(--container);
}

.team > h1 {
  max-width: 14rem;
}
/* 
.form {
  padding: 0 var(--container);
}

.form > form input,
.form > form textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem 1rem;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid var(--grey-700);
  font-weight: 500;
  font-size: var(--text-base);
}

.form > form textarea {
  height: 8rem;
  resize: none;
}

.form > form button {
  margin-left: auto;
} */

/* MOBILE */
@media screen and (max-width: 767px) {
  .team > :last-child > :not(:last-child) {
    margin-bottom: 3rem;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .map {
    padding: 0 var(--container);
  }

  .team > :last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }

  .details > :first-child {
    max-width: 25rem;
  }

  .team {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  .team > :last-child {
    flex-basis: 65%;
  }
  /* .form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2rem;
  }

  .form > :first-child {
    max-width: 20rem;
  } */
}
