.home > section {
  position: relative;
  margin-bottom: 8rem;
}

.hero {
  height: calc(100vh - var(--navbar-h));
  max-height: 40rem;
}

.welcome {
  padding: 0 var(--container);
}

.welcome > svg {
  z-index: -1;
  position: absolute;
  top: -5rem;
  left: var(--container);
  width: 70%;
}

.welcome > svg > text {
  fill: var(--grey-100);
  font-family: var(--ff-primary);
  font-weight: 700;
  text-transform: capitalize;
}

.welcome > img {
  display: none;
}

.team {
  height: 80vh;
}

.featured {
  padding: 0 var(--container);
}

.featured > :first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.featured > :first-child > h1 {
  margin-bottom: 0;
}

/* MOBILE */
@media screen and (max-width: 767px) {
  .welcome::before {
    content: '';
    position: absolute;
    top: -3rem;
    left: var(--container);
    height: 2px;
    width: 4rem;
    background-color: var(--grey-300);
  }

  .welcome > svg {
    display: none;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .welcome h1 {
    max-width: 25rem;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .welcome {
    display: flex;
    justify-content: flex-end;
  }

  .welcome > :nth-child(2) {
    align-self: end;
    max-width: 35rem;
    margin-right: 5rem;
  }

  .welcome > :nth-child(2) > :last-child {
    margin-bottom: 0;
  }

  .welcome > img {
    display: block;
    object-fit: cover;
    z-index: -2;
    height: 40rem;
  }
}
